<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Store</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

   <section>
	<h2>Products</h2>
		<ul>	
			<li th:each="product : ${products}">
				<h3 th:text="${product.name}"></h3>
			
				<img alt="" th:src="${product.image}" />
				<p th:text="${product.description}"></p>
				<span th:text="${product.price}"></span>
				<button>Add to cart</button>
			</li>
		</ul>
	</section>
   
</body>
</html>